* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
}

body {
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

.user-photo {
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 10px;
  background-color: #ccc;
}

.fas.fa-bell-slash {
  width: 2.81rem;
  height: 2.81rem;
  text-align: center;
  line-height: 2.81rem;
  border-radius: 50%;
  font-size: 1.125rem;
  color: #9DE1FE;
  background-color: #F5FCFF;
  position: absolute;
  top: 1.25rem;
  left: 1rem;
}

#container {
  height: 100vh;
  position: relative;
}
#container .sidebar {
  width: 410px;
  height: 100%;
  display: inline-block;
  position: relative;
}
#container .sidebar .toolbar-container {
  width: 100%;
  height: 3.75rem;
  background-color: #eee;
}
#container .sidebar .toolbar-container .aux-icons {
  display: flex;
  justify-content: flex-end;
  height: 3.75rem;
  line-height: 3.75rem;
  padding-right: 1.25rem;
}
#container .sidebar .toolbar-container .aux-icons i {
  color: #80868A;
  font-size: 1.25rem;
  margin-inline: 1rem;
  transition: 0.5s;
}
#container .sidebar .toolbar-container .aux-icons i:hover {
  color: rgba(0, 0, 0, 0.5882352941);
}
#container .sidebar .toolbar-container .notification-container {
  width: 100%;
  height: 5.625rem;
  padding-top: 1.43rem;
  padding-left: 5rem;
  background-color: #9DE1FE;
  color: #384c56;
  position: relative;
}
#container .sidebar .toolbar-container .notification-container .receive-notifications {
  font-size: 1rem;
  margin-bottom: 3px;
}
#container .sidebar .toolbar-container .notification-container .activate-notifications {
  font-size: 0.82rem;
}
#container .sidebar .toolbar-container .notification-container .activate-notifications i {
  cursor: pointer;
}
#container .sidebar .toolbar-container .search-container {
  height: 3rem;
  width: 100%;
  padding: 0.468rem 0 0 0.468rem;
  background-color: #F8F8F8;
  position: relative;
  color: #BDC1C3;
}
#container .sidebar .toolbar-container .search-container #contact-search {
  position: absolute;
  left: 1.875rem;
  top: 1.125rem;
  font-size: 0.875rem;
}
#container .sidebar .toolbar-container .search-container #search {
  height: 2.18rem;
  width: 24.06rem;
  padding-left: 3.75rem;
  border-radius: 1.1rem;
}
#container .sidebar .toolbar-container .search-container #search::placeholder {
  color: #BDC1C3;
}
#container .sidebar .toolbar-container .contacts-container {
  height: auto;
}
#container .sidebar .toolbar-container .contacts-container .contact-box {
  cursor: pointer;
  height: 4.5rem;
  border-top: 1px solid #f2f2f2;
  position: relative;
}
#container .sidebar .toolbar-container .contacts-container .contact-box .user-photo {
  width: 3.125rem;
}
#container .sidebar .toolbar-container .contacts-container .contact-box .user-info {
  margin-left: 5rem;
  padding-top: 0.625rem;
  display: inline-block;
}
#container .sidebar .toolbar-container .contacts-container .contact-box .user-info .user-name {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}
#container .sidebar .toolbar-container .contacts-container .contact-box .user-info .user-message-preview {
  font-size: 0.875rem;
  color: #454545;
}
#container .sidebar .toolbar-container .contacts-container .contact-box .user-info .user-message-preview .fa-check-double {
  margin-right: 5px;
  color: #4FC3F7;
}
#container .sidebar .toolbar-container .contacts-container .contact-box .message-info {
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
#container .sidebar .toolbar-container .contacts-container .contact-box .message-info .message-time {
  font-size: 0.75rem;
  margin-bottom: 5px;
  color: #ccc;
}
#container .sidebar .toolbar-container .contacts-container .contact-box .message-info .message-pending {
  background-color: #09d261;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
}
#container .sidebar .toolbar-container .contacts-container .contact-box:last-child {
  border-bottom: 1px solid #f2f2f2;
}
#container .sidebar .toolbar-container .contacts-container .contact-box:hover {
  background-color: #f4f5f5;
}
#container .sidebar .toolbar-container .contacts-container .active-chat {
  background-color: #E9EBEB;
}
#container .sidebar .toolbar-container .contacts-container .active-chat.contact-box:hover {
  background-color: #E9EBEB;
}

/*# sourceMappingURL=index.css.map */
